*{
    box-sizing: border-box;
    padding: 0;
    /* font-weight: bold; */
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.hero{
   
    width: 100%;

}
nav{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 45px; */
    padding-left:8% ;
    padding-right:8% ;
    padding-bottom: 1%;   
    
}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px ;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    padding: .3rem 1rem;
    color: blueviolet;
    background: white;
    transition: .2s;
    border-radius: .4rem 1rem .3rem .6rem;
}
.btn {
    background-color:white;
    color: blueviolet;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 3px;
    transition: transfrom .4s;

}
.btn:hover{
transform:scale(1.2)
}
nav .btn a{
    text-decoration: none;
}
.work{
    text-align: center;
    /* padding: 5pc 2pc; */
    font-size: large;
    font-weight: bold;
}
.leads{
    display: flex;
    justify-content: space-around;
    align-items: center;
padding-top: 4pc;
flex-wrap: wrap;
}

div a{
    text-decoration: none;
}
a.red{
 
    margin: 10px;
    padding-left: .6pc;
    padding-right: .6pc;
    padding-bottom: .3pc;
    padding-top: 11pc;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

} 

footer{
    background-color: blueviolet;
    margin-top: 4%;
    padding-bottom: 4pc;
}
 div.ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:8% ;
    padding-right:8% ;
    padding-bottom: 1%; 
  
}
li a{
    color: #f9f9f9;
}
li a:hover{
    color: yellow;
    transition: .4s;
}
div ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px ;
    
}
.what-you{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5pc;

}

div .social{
    display: flex;
   flex-direction:row;
   column-gap: 2.5rem;
   margin-top: 1.5pc;
   color: #f9004d;
}
.social i{
    color: white;
}
footer p{
    color: white;
    text-align:center ;
}